<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<header>
  
    <div class="site-title">
        <p><a class="head-links" href="/">Shoes</a></p>
    </div>
    
    <ul>
        <li><a class="head-links" href="/shoeslist">Shoe List</a></li>
        <li><a class="head-links" href="/type">Types List</a></li>
        <li><a class="head-links" href="/brand">Brand List</a></li>
    </ul>
  
</header>
