<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./head.ejs')  %>

    <section class="home">
        <a href="/alltypes/create" class="page-links">New Type</a>
        <%if(type.length > 0){%>
        <%type.forEach(element => {%>
            <div class="home-page">
                <a href="/alltypes/<%=element.id%>" class="page-links"> <%=element.name %> </a>
            </div>
       <%})%>
       <%}else{%>
            <p>There are no Types</p>
        <%}%>
    </section>
</body>
</html>